<p-toast></p-toast>
<form class="flex-row flex gap-1" (ngSubmit)="onSubmit()" [formGroup]="competitorForm">
    <input pInputText [required]="true" type="text" name="id" formControlName="id" placeholder="Id">
    <input pInputText [required]="true" type="text" name="firstName" formControlName="firstName" placeholder="Prénom">
    <input pInputText [required]="true" type="text" name="lastName" formControlName="lastName" placeholder="Nom">
    <p-dropdown  [optionLabel]="'name'" [optionValue]="'code'" [options]="[
      {name: 'Master', code: 'MASTER'},
      {name: 'Senior', code: 'SENIOR'},
      {name: 'Junior', code: 'JUNIOR'},
      {name: 'Cadet', code: 'CADET'},
      {name: 'Minime', code: 'MINIME'},
    ]" formControlName="category" required>

    </p-dropdown>
  <p-dropdown formControlName="sex"  [optionLabel]="'name'" [optionValue]="'code'" [options]="[
  {
    name: 'Masculin',
    code: 'MALE'
  },
  {
    name: 'Féminin',
    code: 'FEMALE'}
  ]">

  </p-dropdown>


  <p-button  icon="pi pi-plus" type="submit"></p-button>
</form>


<p-table   [value]="competitors" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,20]">
  <ng-template pTemplate="header">
    <tr>
      <th>#</th>
      <th>Compétiteur</th>
      <th>Catégorie</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-competitor>
    <tr>
      <td>{{ competitor.id }}</td>
      <td>{{ competitor.firstName }} {{ competitor.lastName }}</td>
      <td>{{competitor.category}} ({{competitor.sex === "MALE" ? "M" : "F"}})</td>
      <td [style.display]="'flex'" [style.justify-content]="'end'">
        <p-button [text]="true" [rounded]="true" icon="pi pi-eye" (click)="openCompetitor(competitor.id)"></p-button>
        <p-button severity="danger"  [text]="true" [rounded]="true" icon="pi pi-trash" (click)="deleteCompetitor(competitor.id)"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
