<p-toast/>
<p-confirmDialog />
<p-dialog [modal]="true" [(visible)]="showQrCode">
  <qr-code *ngIf="qrcode" [value]="qrcode"></qr-code>
</p-dialog>
<div class="header">

  <p-button label="Resultats" icon="pi pi-list" (click)="showResults()" ></p-button>
  <p-button  icon="pi pi-qrcode" (click)="showQrCode = true" ></p-button>
  <span><p-inputSwitch [(ngModel)]="showLastInput"></p-inputSwitch> Afficher la dernière saisie</span>

</div>

<app-target  *ngIf="lastTarget && showLastInput" [target]="lastTarget"></app-target>

<div class="competitors">
  <div class="all">
    <span *ngFor="let competitor of competitors">
          <span>{{competitor.firstName}}</span>
          <span>{{competitor.id}}</span>
      <button (click)="addCompetitor(competitor)" ><ng-icon [svg]="jamPlus"></ng-icon></button>
    </span>
  </div>
  <div class="subscribed">
    <span *ngFor="let competitor of subscribedCompetitors">

          <span>{{competitor.firstName}}</span>

          <span>{{competitor.id}}</span>
      <button (click)="removeCompetitor(competitor)" ><ng-icon [svg]="jamMinus"></ng-icon></button>
    </span>

  </div>
</div>

<ng-container *ngFor="let event of targetsByEvent">
  <h2>{{event.event}}</h2>
  <p-table [value]="event.targets" #dt [columns]="cols">
    <ng-template pTemplate="caption">
      <div style="text-align: left">
        <p-button
          icon="pi pi-external-link"
          label="Export"
          (click)="dt.exportCSV()" />
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>#</th>
        <th *ngFor="let col of cols">{{col.header}}</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-target let-rowIndex="rowIndex" >
      <tr style="height:46px">
        <td>{{rowIndex + 1}}</td>
<!--        <td>{{target | result}}</td>-->
<!--        <td>{{target.competitorId}}</td>-->
        <td *ngFor="let col of cols">
          <ng-container *ngIf="col.field !== 'competitorId'">
            {{ target[col.field] }}
          </ng-container>
          <ng-container *ngIf="col.field === 'competitorId'">
            {{ target.competitor.id | name | async }}
          </ng-container>
        </td>
        <td>
          <p-button severity="danger"  [text]="true" [rounded]="true" icon="pi pi-trash" (click)="deleteTarget(target)"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>



<!--<app-target (onDelete)="loadTargets()" *ngFor="let target of targets" [target]="target"></app-target>-->

