<form [formGroup]="competitionForm" (ngSubmit)="submit()">

  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Date</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let competition of competitions" (click)="openCompetition(competition.id)">
      <td>{{ competition.name }}</td>
      <td>{{ competition.description }}</td>
      <td>{{ competition.date }}</td>
      <td>
        <button type="button" (click)="deleteCompetition(competition.id,$event)">
          <ng-icon [svg]="jamTrash">
          </ng-icon>
        </button>
      </td>
    </tr>

    <tr>
      <td><input required type="text" formControlName="name" placeholder="Name"></td>
      <td><input required type="text" formControlName="description" placeholder="Description"></td>
      <td><input required type="date" formControlName="date" placeholder="Date"></td>
      <td>
        <button type="submit">
          <ng-icon [svg]="jamPlus">
          </ng-icon>
        </button>
      </td>
    </tr>


    </tbody>
  </table>
</form>
